html {
    border: 2px solid green;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(215, 192, 138);
    
}

.websiteTitle {
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid black;
    font-size: 5.75rem;
    text-shadow: 3px 3px 1px rgb(120, 114, 68);
    text-align: center;
}

.sidepanel-container {
    /*border: 2px solid red;*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: black;
    opacity: 100%;
    overflow-x: hidden;
    transition: 0.5s;

}

.open-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.close-button {
    position: absolute;
    top: 0;
    right: 2px;
    margin-left: 50px;
}

/*
.gif-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.giphy-embed {
    width: 50%;
    max-width: 700px;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
    display: block;
    padding-bottom: 40px;
}
*/
.blogpost-container{
    /*border: 2px solid rgb(0, 255, 251);*/
    margin: 20px;
    display: flex;
    flex-direction: column;

    
}

.blogpost-one {
    border-top: 2px solid black;
}
.blogpost-two {
    border-top: 2px solid black;
}
.blogpost-three {
}


footer {
    /*border: 2px solid red;*/
    border-top: 2px solid black;
    align-items: center;
}
    
.footer-top {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(22, 6, 6, 0.493);
    padding-left: 25px;
    text-align: justify;
    text-justify: auto;
}
.footer-bottom {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(22, 6, 6, 0.493);
    font-size: 17px;
    padding-left: 25px;
    text-align: justify;
    text-justify: auto;
}
.footer-email {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(22, 6, 6, 0.493);
    font-size: 17px;
    padding-left: 25px;
    text-align: center;
}

